<div id="absolute_header">
    <div id="logo">
        <%= render partial: "/layouts/svgs/logo"%>
    </div>
</div>

<header id="header" class="clearfix" data-current-skin="navbar_color">
    <ul class="header-inner">
        <li class="pull-right">
            <ul class="top-menu">
                <li class="dropdown hidden-xs">
                    <a data-toggle="dropdown" href="" aria-expanded="true">
                        <span style="font-size:20px">Join</span>
                    </a>
                    <div class="dropdown-menu pull-right dropdown-menu-lg">
                        <span class="dropdown_pointer"></span>
                        <div></div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

