#absolute_header{
	position: absolute;
	height: 150px;
	width: 100%;
	background-color: #f5146c;
	#logo{
		margin-top: 15px;
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

#header{
	padding: 0px 50px 0px 50px;
	&[data-current-skin = "navbar_color"]{
		background-color: #171b48;
	}
	.dropdown-menu{
		width:330px;
		margin-top: 25px;
		border: none;
		.dropdown_pointer{
			position:absolute;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 20px solid white;
			top: -20px;
			right: 15px;
			display:block;
		}
		.listview{
			&.join{
				padding: 0px 20px 65px 20px;
				text-align: center;
				h1{
					font-size:20px;
					margin: 30px 0px 30px 0px;
				}
			}
			.social_login_button{
				padding: 10px 60px 10px 70px; 
				border: 2px solid #EEEEEE;
				margin-bottom:10px;
				border-radius: 3px;
			}
			.dropdown_box{
				display: block;
				height: 40px;
				margin-bottom: 10px;
				background-color: gray;
			}
			.dropdown_box_input{
				display: block;
				height: 40px;
				margin-bottom: 10px;
				width:290px;
			}
		}
	}
}

.hr_with_text{
	hr{
		border-color: #b3b3b3;
		display:inline-block;
		width:40%;		
	}
	span{
		display:inline-block;
		width:16%;
		transform: translateY(-14px);
		font-size:15px;
	}
}

.left_and_right{
	padding-top:15px;
	padding-bottom:15px;
	span:nth-child(1){float: left; transform: translateY(-50%); display:block;}
	span:nth-child(2){float: right; transform: translateY(-50%); display:block;}
}

.left_only{
	padding-top:15px;
	padding-bottom:15px;
	float: left; 
}






