.d2{font-family: ‘Nunito’, san-serif; font-weight: 600; font-size: 22px; }
.f2{font-family: ‘Nunito’, san-serif; font-weight: 600; font-size: 18px; }
.f3{font-family: ‘Nunito’, san-serif; font-weight: 600; font-size: 16px; }
.f4{font-family: ‘Nunito’, san-serif; font-weight: 400; font-size: 15px; }
.f5{font-family: ‘Nunito’, san-serif; font-weight: 400; font-size: 16px; }




#sign_up{
	text-align: center;
	background-color: white;
	padding-top:50px;
	height:1000px;
	.d2{
		margin-bottom: 30px;
	}
	input{
		&[type="password"], &[type="email"]{
			width: 270px;
			height: 40px;
			margin-bottom: 10px;
		}
		&[type="submit"]{
			margin-top:30px;
			width:120px;
			height:45px;
			background-color: #72C6C3;
			border: none;
			@extend .f2
		}
	}
}





#mypage{
    position:relative;
    width:690px;
    background-color: white;
    margin-left:50%;
    transform: translateX(-50%);
    padding: 50px 70px 100px 50px;  
    h1{text-align: center; }
    h2{
    	margin-top:30px;
    	margin-bottom:20px;
    }
    h3{
    	font-weight: 400;
    	font-size:15px;
    	margin-top:18px;
    	&.status_bar{
    		color:#CCCCCC;
    		span:nth-child(1){
	 	   		font-size:20px;
    		}
    		span:nth-child(2){
    			display: inline-block;
    			height: 10px;
    			width: 150px;
    			background-color: #CCCCCC;
    			margin-left: 10px;
    			margin-right: 10px;
    			&:before{
    				content:""; 
    				display:block;
    				height: 10px;
    				width: 23%;
    				background-color: #0A1E9F;
    			}
    		}
    		span:nth-child(3){
    			font-size:15px;
    		}
    	}
    }
    p{margin-bottom:5px; }
    #fan_id_info{
    	div:nth-child(1){
    		width:150px;
    		height:150px;
    		border-radius:75px;
    		border: 1px solid #DDDCDD;
    		margin-right:30px;
    		float: left;
    	}
    	div:nth-child(2){
    		float: left;
    	}
    	&:after{
    		content:""; 
    		display:block;
	    	clear:both;
    	}
    }
    input[type = "password"]{
    	width:400px;
    	height:40px;
    	border:1px solid #C3C3C3;
    }
    input[type = "submit"]{
    	width:150px;
    	height:40px;
    	background-color: #72C6C3;
    	margin-top:20px;
    	border: none;
    }
}
















#absolute_header{
	position: absolute;
	height: 150px;
	width: 100%;
	background-color: #f5146c;
	z-index:1;
	#logo{
		margin-top: 15px;
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

#header{
	padding: 0px 50px 0px 50px;
	&[data-current-skin = "navbar_color"]{
		background-color: #171b48;
	}
	.profile_photo{
		width:30px;
		height:30px;
		background-color:white;
		border-radius: 15px;
	}
	.dropdown-menu{
		width:400px;
		margin-top: 25px;
		border: none;
		.dropdown_pointer{
			position:absolute;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 20px solid white;
			top: -20px;
			right: 15px;
			display:block;
		}
		.listview{
			&.join{
				padding: 0px 20px 65px 20px;
				text-align: center;
				h1{
					font-size:20px;
					margin: 30px 0px 30px 0px;
				}
				.social_login_button{
					padding: 10px 60px 10px 70px; 
					border: 2px solid #EEEEEE;
					margin-bottom:10px;
					border-radius: 3px;
				}
				.dropdown_box{
					display: block;
					height: 40px;
					margin-bottom: 10px;
					background-color: gray;
				}
				.dropdown_box_input{
					display: block;
					height: 40px;
					margin-bottom: 10px;
					width:360px;
				}
			}
			&.profile{
				padding: 30px 30px 0px 30px;
				.f4{margin-bottom:5px; }
				.f5{margin-bottom:3px; }
				.main_profile{}
				.signout_button{
					margin-top:-35px;
					margin-bottom:35px;
					a{	
						float: right;
					}
				}
				.fanid_profile{
					margin: 0px -30px 0px -30px;
					padding: 7px 0px 8px 0px;
					border-left: 20px solid #5C5C5C;
					border-bottom: 1px solid #E7E7E7;
					&.selected{
						border-left: 20px solid rgba(0,0,0,0);
						border-bottom: 1px solid rgba(0,0,0,0);
					}
					div:nth-child(1){
						float: left;
						width: 70px;
						height: 70px;
						border-radius: 35px;
						border:1px solid #B9B8B2;
						margin-right: 15px;
						margin-left: 10px;
					}
					div:nth-child(2){
						float: left;
						.f5{margin-bottom:0px; }
					}
					&:after{
						content:"";
						display: block;
						clear:both;
					}
				}
				.add_fanid_button{
					text-align: center;
					.f3{
						margin-top:10px;
						margin-bottom:10px;
					}					
				}
			}	
		}
	}
}

.hr_with_text{
	hr{
		border-color: #b3b3b3;
		display:inline-block;
		width:40%;		
	}
	span{
		display:inline-block;
		width:16%;
		transform: translateY(-14px);
		font-size:15px;
	}
}

.left_and_right{
	div:nth-child(1){float: left;}
	div:nth-child(2){float: right;}
	&:after{
		content:"";
		display:block;
		clear: both;
	}
}

.left_only{
	padding-top:15px;
	padding-bottom:15px;
	float: left; 
}






