<div id="fandom_select">

	<div id="fandom_now">
		<p class="d1" style="color:black;">Create your FanID!</p>
		<div class="left_and_right">
			<div>
				<div id="fandom_profile"></div>
				<p class="d2"><br>@FanId</p>
			</div>
			<div>
				<input type="submit" value="Continue">
			</div>
		</div>
	</div>

	<div id="fandom_list">
		
	</div>
</div>